* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  opacity: 0.6;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
}

a {
  color: seashell;
  opacity: 0.6;
  margin-right: 20px;
}

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.hero__container {
  width: 1200px;
  height: 700px;
  background: url(./images/img-mission-background.webp);
  display: flex;
  align-items: center;
}

.banner {
  background-color: black;
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Tea Section */
.tea {
  display: flex;
  justify-content: center;
}

.tea__container {
  width: 1000px;
}

.tea__container h2,
.tea__container h4 {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.tea__gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  width: 300px;
  margin: 10px 16px;
}

.card img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}
